@media screen and (max-width: 767px) {
    nav, footer{
        padding-left: 20px ;
        padding-right: 20px;
    }
    nav .left p{
        display: none;
    }
    nav .right ul li a p, footer .right ul p , nav .right ul p{
        display: none;
    }
    .line{    
        width: 95%;
    }
    main #info h3{
        font-size: 1.5em;
    }
    main #tech ul li a img{
        width: 45px;   
    }
    main #skills h3{
        font-size: 1.3rem;
        width: 90%;
    }
    main #skills .cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 19px;
    }
    main #skills .cards .card{
        width: 180px;
        height: 232px;
    }
    main #skills .cards .card img{
        width: 23px;
        height: 23px;
    }
    main #contact h3{
        font-size: 1.8rem;
        width: 90%;
    }
    main #contact{
        margin: 50px 0 80px 0;
    }
}